In [1]:
import pyspark as ps

In [3]:
import csv
import pandas as pd

In [71]:
file = "/Users/krishnasharma/Downloads/tree_cover_stats_2016.xlsx"
df_loss = pd.read_excel(file, sheet_name='Loss (2001-2016) by Country')
df_gain = pd.read_excel(file, sheet_name='Gain (2001-2012) by Country')

In [73]:
df_loss.rename(columns=df.iloc[0])
df_loss.drop(df.index[0])

df_gain.rename(columns=df.iloc[0])
df_gain.drop(df.index[0])

                All areas are in hectares      TREE COVER GAIN
0                                 Country  (>50% CANOPY COVER)
1                             Afghanistan               303.87
2                   Akrotiri and Dhekelia              3.30451
3                                 Albania              7355.14
4                                 Algeria              32539.5
5                          American Samoa                    0
6                                 Andorra              17.9006
7                                  Angola              63797.3
8                                Anguilla              29.1222
9                              Antarctica                    0
10                    Antigua and Barbuda              248.593
11                              Argentina               643049
12                                Armenia              1278.23
13                                  Aruba               1.0522
14                              Australia          1.41458e+06
15                                Austria              65849.6
16                             Azerbaijan              865.678
17                                Bahamas              787.695
18                                Bahrain                    0
19                             Bangladesh              7022.58
20                               Barbados              196.128
21                                Belarus               375557
22                                Belgium              37463.3
23                                 Belize              12796.8
24                                  Benin              6899.56
25                                Bermuda              38.1799
26                                 Bhutan              2158.62
27                                Bolivia               173609
28       Bonaire, Sint Eustatius and Saba              66.0852
29                 Bosnia and Herzegovina              26485.3
..                                    ...                  ...
227                              Thailand               499183
228                           Timor-Leste              6124.31
229                                  Togo              2360.93
230                               Tokelau                    0
231                                 Tonga                    0
232                   Trinidad and Tobago              1600.54
233                               Tunisia                11496
234                                Turkey               178368
235                          Turkmenistan              278.877
236              Turks and Caicos Islands              15.0935
237                                Tuvalu                    0
238                                Uganda              68463.9
239                               Ukraine               352999
240                  United Arab Emirates                    0
241                        United Kingdom               211149
242                         United States          1.38073e+07
243  United States Minor Outlying Islands               1.6081
244                               Uruguay               498519
245                            Uzbekistan              521.308
246                               Vanuatu              1366.42
247                          Vatican City                    0
248                             Venezuela               191092
249                               Vietnam               564188
250                  Virgin Islands, U.S.              399.169
251                     Wallis and Futuna                    0
252                        Western Sahara                    0
253                                 Yemen              4.26784
254                                Zambia              18097.3
255                              Zimbabwe              48567.5
256                                 Åland              2445.23

[257 rows x 2 columns]